{% load i18n %}


{% block content %}
<header>
    <h1>{{ article.title }}</h1>
</header>
<main class="container">
    <article>
        <p>{{ article.content }}</p>
        <p><strong>{% trans "Дата публикации:" %}</strong> {{ article.published_date }}</p>
    </article>

    <div>
        <a href="{% url 'news:update_article' article.id %}" class="btn btn-primary">{% trans "Редактировать" %}</a>
        <a href="{% url 'news:delete_article' article.id %}" class="btn btn-danger">{% trans "Удалить" %}</a>
    </div>
</main>
<footer>
    <a href="{% url 'news:home' %}" class="btn btn-secondary">{% trans "На главную" %}</a>
</footer>
{% endblock %}
