{% load i18n %}


{% block title %}{% trans "All Articles" %}{% endblock %}

{% block content %}
<header>
    <h1>{% trans "All Articles" %}</h1>
</header>
<main>
    <ul>
        {% for article in page_obj.object_list %}
        <li>
            <a href="{% url 'news:article_detail' article.id %}">{{ article.title }}</a>
            <p>{{ article.content|slice:":100" }}...</p>
        </li>
        {% empty %}
        <p>{% trans "No articles." %}</p>
        {% endfor %}
    </ul>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; {% trans "First" %}</a>
                <a href="?page={{ page_obj.previous_page_number }}">{% trans "Previous" %}</a>
            {% endif %}

            <span class="current">
                {% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">{% trans "Next" %}</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">{% trans "Last" %} &raquo;</a>
            {% endif %}
        </span>
    </div>
</main>
<footer>
    <a href="{% url 'news:home' %}">{% trans "Home" %}</a>
</footer>
{% endblock %}
