{% load i18n %}


{% block title %}Подтверждение удаления поста{% endblock %}

{% block content %}
<main class="container">
    <header>
        <h1>{% trans "Подтверждение удаления поста" %}</h1>
    </header>
    <p>{% trans "Вы действительно хотите удалить пост" %} "<strong>{{ post.title }}</strong>"?</p>
    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">{% trans "Удалить" %}</button>
        <a href="{% url 'news:news_detail' post.id %}" class="btn btn-secondary">{% trans "Отменить" %}</a>
    </form>
</main>
{% endblock %}
