{% load i18n %}


{% block content %}
<h2>{% trans "News List" %}</h2>
{% for article in page_obj %}
<div>
    <h3><a href="{% url 'news:news_detail' article.id %}">{{ article.title }}</a></h3>
    <p>{{ article.published_date }}</p>
    <p>{{ article.content|truncatewords:30 }}</p>
</div>
{% empty %}
<p>{% trans "No news available." %}</p>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; {% trans "First" %}</a>
            <a href="?page={{ page_obj.previous_page_number }}">{% trans "Previous" %}</a>
        {% endif %}

        <span class="current">
            {% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">{% trans "Next" %}</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">{% trans "Last" %} &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
