{% extends 'default.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<header>
    <h1>{{ post.title }}</h1>
</header>
<main>
    <article>
        <p>{{ post.text }}</p>
        <p><strong>{% trans "Rating:" %}</strong> {{ post.rating }}</p>
    </article>
    <section>
        <h2>{% trans "Comments" %}</h2>
        {% for comment in post.comment_set.all %}
        <div>
            <p><strong>{{ comment.user.username }}:</strong> {{ comment.text }}</p>
            <p><strong>{% trans "Rating:" %}</strong> {{ comment.rating }}</p>
        </div>
        {% empty %}
        <p>{% trans "No comments." %}</p>
        {% endfor %}
    </section>
</main>
<footer>
    <a href="{% url 'news:home' %}">{% trans "Back to Home" %}</a>
</footer>
{% endblock %}
