{% load i18n %}


{% block content %}
<header>
    <h1>{% trans "Посты в категории" %} "{{ post_category.name }}"</h1>
</header>
<main>
    <ul>
        {% for post in posts %}
        <li>
            <a href="{% url 'news:news_detail' post.id %}">{{ post.title }}</a>
            <p>{{ post.content|slice:":100" }}...</p>
        </li>
        {% empty %}
        <p>{% trans "Постов в этой категории нет." %}</p>
        {% endfor %}
    </ul>
</main>
<footer>
    <a href="{% url 'news:home' %}">{% trans "На главную" %}</a>
</footer>
{% endblock %}
