{% extends 'default.html' %}

{% load i18n %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <h2>{% trans "Управление вашими подписками" %}</h2>
    {% for category in categories %}
    <div>
        <label>
            <input type="checkbox" name="categories" value="{{ category.id }}"
                   {% if category.id in user_subscriptions %}checked{% endif %}>
            {{ category.name }}
        </label>
    </div>
    {% endfor %}
    <button type="submit">{% trans "Обновить подписки" %}</button>
</form>
{% endblock %}
