{% extends 'default.html' %}

{% block title %}{% trans "Регистрация" %}{% endblock %}

{% block content %}
<header>
    <div class="container">
        <h1>{% trans "Регистрация" %}</h1>
        <nav>
            <a href="{% url 'news:home' %}" class="btn">{% trans "Главная" %}</a>
            <a href="{% url 'account_login' %}" class="btn">{% trans "Вход" %}</a>
            <a href="{% url 'account_signup' %}" class="btn">{% trans "Регистрация" %}</a>
        </nav>
    </div>
</header>
<main>
    <div class="container">
        <section>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">{% trans "Зарегистрироваться" %}</button>
            </form>
        </section>
    </div>
</main>
{% endblock %}
